
.col-md-8{
//margin-top: -17%;
//margin-left: 20%;
}

#productlist{
    margin-right: 5%;
}

.lblProduct{
    margin-right: 10%;
    margin-left: 20%;
}

#buttonget{
    height: 10%;
    width: 9%;
    border-radius: 10%;
    font-weight: 800;
}
.navbar-brand{
    margin-left: 10%;
}
#lblValname{
    margin-left: 10%;
    vertical-align: middle;
    display: inline-block;
}

#lblvalueDisplay{
    vertical-align: middle;
    display: inline-block;
    margin-left:17%;
}
.lblBids{
    margin-top: 5%;
    text-align: left;
    margin-left: 35%;
}

#lblbidAmount, #lblname, #lblemail, #lblmobile{
    vertical-align: middle;
    display: inline-block;
    margin-left: 10%;
}